* {
    box-sizing: border-box;
}

.alerta{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:#f82626; */
    margin-top: 100px;
}

.alerta h5 {
    margin: 0;
    padding: 3px 0;
    font-size: medium;
    font-weight: 500;
}

.alerta .exito{
    /* margin-top: 25px; */
    margin-bottom: -70px;
    background-color: aqua;
    border-radius: 100px;
    padding: 10px 35px;
}

#greenBtn{
    background-color: aqua;
}